@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #9b9b9b;
    border-radius: 5rem;
}

body{
    background: #010103;
}
.video
{
	position: fixed;
}
.home .content{
    max-width: 60rem;
    margin-left: 3.3%;
}
.home .content h4{
    font-size: 4rem;
    text-transform: uppercase;
    color:#fff;
    margin-left: 3.3%;
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
    margin-left: 3.3%;
}
.products .box-container{
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    gap:1.5rem;
    justify-content: center;
    background-color: black;
    text-align: center;
 } 
 .products .box-container .box{
    border:.1rem solid rgba(255,255,255,.3);
    background-color: #13131a;
 }  
 .products .box-container .box .image{
    height: 35rem;
    overflow:hidden;
    width: 100%;
 }
 .products .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
 }
 .products .box-container .box:hover .image img{
    transform: scale(1.2);
 }
 .products .box-container .box .name{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
    text-transform: capitalize;
 }
 .products .box-container .box .qty{
    width: 40%;
    padding:1.2rem 1.4rem;
    border-radius: .4rem;
    border:.1rem solid rgba(255,255,255,.3);
    margin:1rem 0;
    font-size: 1.5rem;
    color:#fff;
    background-color: #13131a;
 }
 .products .box-container .box .price{
    position: absolute;
    top:1rem; left:1rem;
    border-radius: .5rem;
    padding:1rem;
    font-size: 2.5rem;
    color:#c0392b;
    background-color: #13131a;
 }
 .products .box-container .box h2{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#d3ad7f;
 }
 .products .box-container .box p{
    padding:1rem 0;
    font-size: 1.5rem;
    color: #fff;
    text-transform: capitalize;
 }
 .products .box-container .box p span{
    color: #d3ad7f;
    text-transform: capitalize;
 } 
 .header{
    background: #13131a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom:.1rem solid rgba(255,255,255,.3);
    position: sticky;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .navbar a{
    text-decoration: none;
    margin:0 2rem;
    font-size: 1.8rem;
    color:#fff;
	text-align: center;
}

.header .navbar a:hover{
    color:#d3ad7f;
    border-bottom: .1rem solid #d3ad7f;
    padding-bottom: .5rem;
}
.header .icons a{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons a:hover{
    color:#d3ad7f;
}
.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:#d3ad7f;
}
.btnn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: #d3ad7f;
    cursor: pointer;
    border-radius:5px;
 }
 .btnn:hover{
    letter-spacing: .2rem;
 }
 .header .user-box{
    position: absolute;
    top:120%; right:2rem;
    width: 30rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
    border-radius: .5rem;
    border:var(--border);
    background-color: #13131a;
    color:#fff;
    display: none;
    animation:fadeIn .2s linear;
 }
 .header .user-box.active{
    display: inline-block;
 }
 .header .user-box p{
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 1.5rem;
 }
 .header .user-box p span{
    color: #d3ad7f;
 }
 .header  .user-box .delete-btn{
    margin-top: 0;
 }
 .header .user-box div{
    margin-top: 1.5rem;
    font-size: 1.7rem;
    color: #f5f5f5;
 }
 .header .user-box p a{
    color: #d3ad7f;
 }
 .header .user-box p a:hover{
    text-decoration: underline;
 }
 .heading{
     text-align: center;
     color:#fff;
     text-transform: uppercase;
     padding-bottom: 3.5rem;
     font-size: 4rem;
     margin-top: 1%;
 }
.heading span{
     color:#d3ad7f;
     text-transform: uppercase;
 }
 .update-btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 2rem;
    cursor: pointer;
    color:white;
    width:100%;
    background-color: #f39c12;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-transform: capitalize;
    box-align:center;
    border-radius:5px;
 }
 .logout-btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 2rem;
    cursor: pointer;
    color:white;
    width:100%;
    background-color: #d3ad7f;;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-transform: capitalize;
    box-align:center;
    border-radius:5px;
 }
 .update-btn:hover,
 .logout-btn:hover,
 .search-btn:hover{
    letter-spacing: .2rem;
 }
 .product_theme{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 .product_theme{
    padding-bottom: 0;
 }
 .product_theme a{
    padding:1.5rem;
    text-align: center;
    border:.1rem solid rgba(255,255,255,.3);
    background-color: #13131a;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: capitalize;
    color:white;
 }
 .product_theme a:hover{
    background-color: var(--black);
    color: #d3ad7f;
 }
 .order-placed .box-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 60rem);
    align-items: flex-start;
    gap:1.5rem;
    justify-content: center;
    background-color: black;
    padding:1.2rem 1.4rem;
 } 
 .order-placed .box-container .box{
    border:.1rem solid rgba(255,255,255,.3);
    background-color: #13131a;
    padding:2rem;
    border-radius: .5rem;
    text-transform: none;
 } 
 .order-placed .box-container .box p{
    padding:1rem 0;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
 }
 .order-placed .box-container .box p span{
    color: #d3ad7f;
    text-transform: none;
 } 
 
 .user-contact form{
    background-color: #13131a;
    border-radius: .5rem;
    border:.1rem solid rgba(255,255,255,.3);
    padding:2rem;
    margin:0 auto;
    max-width: 50rem;
    text-align: center;
 }
 .user-contact form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color:white;
 } 
 .user-contact form .box{
    margin:1rem 0;
    width: 100%;
    border:.1rem solid rgba(255,255,255,.3);
    background-color: #13131a;
    padding:1.2rem 1.4rem;
    font-size: 1.8rem;
    color:white;
    border-radius: .5rem;
 }
 .user-contact form textarea{
    height: 20rem;
    resize: none;
 } 
 .search-form form{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    gap:1rem;
 }
 .search-form form .btn{
    margin-top: 0;
 }
 .search-form form .box{
    width: 100%;
    padding:1.2rem 1.4rem;
    border:.1rem solid rgba(255,255,255,.3);
    font-size: 2rem;
    color:white;
    background-color: #13131a;
    border-radius: .5rem;
 }
 .search-btn{
    display: flex;
    margin-top: 0;
    padding:1.2rem 1.4rem;
    cursor: pointer;
    color:white;
    background-color: #d3ad7f;
    font-size: 2rem;
    border-radius: .7rem;
    text-transform: capitalize;
 } 

 .remove-btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 2rem;
    cursor: pointer;
    color:white;
    background-color: #dc143c;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-transform: capitalize;
 }
 .btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 2rem;
    cursor: pointer;
    color:white;
    background-color: #4aa02c;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-transform: capitalize;
 }
 .btn:hover,
 .remove-btn:hover,
 .option-btn:hover{
    letter-spacing: .2rem;
 }
 .option-btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 2rem;
    cursor: pointer;
    color:white;
    background-color: #d3ad7f;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-transform: capitalize;
 }
 .user-table table{
     width: 100%;
     text-align: center;
     border:.1rem solid #949292;
     border-collapse: collapse;
  }
  .user-table table thead th{
     padding:1.5rem;
     font-size: 2rem;
     background-color:  #13131a;
     color:#d3ad7f;
     text-transform: capitalize;
     border:.1rem solid #949292;
  }
  .user-table table td{
     padding:1.5rem;
     font-size: 1.5rem;
     color:#fff;
     background-color: #13131a;
     border:.1rem solid #949292;
  }
  .user-table table thead th:hover{
     letter-spacing: .2rem;
  }
  .user-table table input[type="number"]{
    border: var(--border);
    padding:1rem 2rem;
    font-size: 2rem;
    background-color: #13131a;
    color:#fff;
    width: 10rem;
 }
 .display-order{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0;
 }
 .display-order p{
    background-color: #13131a;
    color:white;
    font-size: 2rem;
    padding:1rem 1.5rem;
    border:.1rem solid rgba(255,255,255,.3);
    display: inline-block;
    margin:.5rem;
    text-transform: capitalize;
 }
 .display-order p span{
    color:#d3ad7f;
 }
 .display-order .grand-total{
    margin-top: 2rem;
    font-size: 2.5rem;
    color:blue;
    text-transform: capitalize;
 }
 .display-order .grand-total span{
    color:#d3ad7f;
 }
 .user-orders form{
    max-width: 1200px;
    padding:2rem;
    border:.1rem solid rgba(255,255,255,.3);
    background-color: #13131a;
    border-radius: .5rem;
    margin: auto;
 }
 .user-orders form h3{
    text-align: center;
    margin-bottom: 2rem;
    color:#d3ad7f;
    text-transform: uppercase;
    font-size: 3rem;
 }
 .user-orders form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
 }
 .user-orders form .flex .inputBox{
    flex:1 1 40rem;
 }
 .user-orders form .flex span{
    font-size: 1.5rem;
    color:white;
    text-transform: capitalize;
 }
 .user-orders form .flex select,
 .user-orders form .flex input{
    border:.1rem solid rgba(255,255,255,.3);
    width: 100%;
    border-radius: .5rem;
    background-color: #13131a;
    padding:1.2rem 1.4rem;
    font-size: 1.5rem;
    margin:1rem 0;
    color:grey;
 }
 .update-profile form{
    max-width: 70rem;
    margin: 0 auto;
    background-color: #13131a;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(255,255,255,.3);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
 }
 
 .update-profile form .flex{
    display: flex;
    gap:1.5rem;
    justify-content: space-between;
 }
 
 .update-profile form .inputBox{
    text-align: left;
    width: 49%;
 }
 
 .update-profile form .inputBox span{
    display: block;
    padding-top: 1rem;
    font-size: 1.8rem;
    color:#fff;
 }
 
 .update-profile form .inputBox .box{
    width: 100%;
    padding:1.2rem 1.4rem;
    font-size: 1.8rem;
    color:#fff;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(255,255,255,.3);
    border-radius: .5rem;
    margin:1rem 0;
    background-color: #13131a;
 }
 .btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 2rem;
    cursor: pointer;
    color:white;
    background-color: #4aa02c;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-transform: capitalize;
 }
 .btn:hover{
    letter-spacing: .2rem;
 }

.heading1{
    text-align: center;
    color:#fff;
    text-transform: none;
    padding-bottom: 3.5rem;
    font-size: 2rem;
    margin-top: 1rem;
}